body{
    background-color: #111415;
    padding-bottom: 50px;
    overflow-x: hidden;
}
.cardsDiv{
    width: 75%;
    border: solid 1px black;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: #F6FEFF;
    min-height: 375px;
}
.cardsDiv::-webkit-scrollbar {
    margin: 0.5px;
    height: 10px;
}

.cardsDiv::-webkit-scrollbar-thumb {
    background: #EC1D24;
    border-radius: 100px;
    
}
.card{
    height: 320px;
    margin: auto 15px;
    background-color: black;
    padding: 10px;
}
.card:hover{
    cursor: pointer;
    border: solid 3px #EC1D24;
    border-radius: 10px;
    height: 330px;
}

#gauntlet{
    height: 100px;
}
#header{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    background-color: #EC1D24;
    color: white;
    letter-spacing: 2px;
    width: calc(100%);
    justify-content: space-between;
}
#header h1{
    display: flex;
    align-items: center;
}

.searchInput{
    border: none;
    margin-right: 2%;
}
.searchDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
/* Making a class for elements that are only being used for screenreader purposes. */
.accessible{
    display: none;
}
#notFoundImage{
    margin: auto;
}
#errorPage{
    width: 75%;
    border: solid 1px black;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #F6FEFF;
}

@media screen and (max-width: 768px){

    .cardsDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(88%);
    padding: 6%;
    flex-wrap: wrap;
    align-items: center;
    border: none
    }

    .card{
        margin-bottom: 20px;
        width: 60%;
        height: 90%;
    }
    body{
        background-color: #F6FEFF;
        width: 98%;
    }
    .modal{
        width: 85% !important;
        height: 80%;
    }
    #header{
        width: calc(100% - 8px);
        overflow: hidden;
        flex-direction: column;
        align-content: center;
    }
    .searchDiv{
        margin: auto;
    }
    .responsiveForm{
        padding-bottom: 5%;
    }
}